*{
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    background-color: grey;
    text-align: center;
    text-decoration: underline;
}

.delete-button, .details-button, .close-button{
    background-color: aliceblue;
}
